@use '@/styles/imports' as *;

.nav {
  @include position(fixed, null 0 0 0, 2);
  @include flex-row;
  transform: translateY(100%);
  opacity: 0;
  backdrop-filter: blur(.5em);
  background: rgba($white, 0.15);
  padding: calc(0.5 * var(--outer-padding));
  gap: var(--spacer);
  background: var(--white);

  a {
    @include size(var(--nav-height));
    @include flex-row;
    transition: none;
  }
}

.svg {
  @include size(65%);
  display: block;
  transition: var(--fast-transition);

  * {
    fill: rgba(0, 0, 0, .2);
  }

  .active & {
    opacity: 1;

    * {
      fill: var(--blue);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.visible {
  opacity: 1;
  transform: translateY(0%);
}

@mixin _larger-than-mobile {
  .nav {
    @include position(fixed, 0 auto 0 0, 2);
    @include flex-column;
  }
}

@include mobile-landscape {
  @include _larger-than-mobile;
}

@include tablet-landscape {
  @include _larger-than-mobile;
}

@include desktop {
  @include _larger-than-mobile;
}
