// CSS reset.

@mixin reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    appearance: none;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: none;
    transition: none;
  }

  a {
    text-decoration: none;
    font-style: normal;
  }

  ul,
  li {
    list-style: none;
  }
}
